body {
    margin: 0;
    padding: 2rem;
    color: #fff;
    font-family: system-ui, sans-serif;
}

.editor-container {
    width: 60%;
    max-width: 800px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;
    background-color: #1a1a1a;
    font-size: 20px;
}

.editor-container.light {
    border: 1px solid #ccc;
    background-color: #7f7f7f;
}
.CodeMirror {
}